* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

main {
  max-width: 96rem;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  align-items: center;
  margin-top: 2rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 2.5rem;
}

header nav {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  div.post {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}

.post {
  display: grid;
  grid-template-columns: 0.7fr 1.1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.post .texts h2 {
  margin: 0;
  font-size: 2.4rem;
}

.post .texts a {
  text-decoration: none;
  color: inherit;
}

.post .texts p {
  margin: 0;
  font-size: 1.4rem;
}

.post .post-info {
  font-size: 1.2rem;
  margin: 0.8rem 0;
  font-weight: bold;
  color: #888;
}

.post .post-info a {
  text-decoration: none;
  margin-right: 1rem;
  color: #333;
}

.post .post-summary {
  margin: 1rem 0;
  line-height: 2.4rem;
}

form.login,
form.register {
  max-width: 40rem;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 0.5rem 1rem;
  display: block;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  color: white;
  padding: 0.7rem 0;
  border: none;
  border-radius: 0.7rem;
  cursor: pointer;
}

form.login h1,
form.register h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

div.post-page .image {
  max-height: 40rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

div.post-page {
  margin-bottom: 2rem;
}

div.post-page .image img {
  min-width: 100%;
  object-fit: contain;
  object-position: center center;
}

div.post-page h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

div.post-page p {
  font-size: 1.6rem;
  text-align: justify;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

.post-page .post-details {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.2rem;
}

.post-page .post-details time {
  color: #aaa;
}

.post-page .edit {
  text-align: center;
}

.post-page a.edit-btn {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.4rem 1rem;
  background-color: #333;
  color: white;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}

.post-page a.edit-btn svg {
  width: 1.5rem;
}
